/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
  }
  
  .container {
    max-width: 100%;
    margin: 10px;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #042f69;
    color: #fff;
    padding: 20px;
    height: 10vh; /* Set the height to 100vh for full-screen */
    display: flex;
  }
  
  .logo {
    position: absolute;
    top: 2px;
    left: 5px;
  }
  
  .logo img {
    height: 100px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
  }
  
  /* Navigation Styles */
  nav {
    background-color: #042f69;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  nav ul li a:hover {
    background-color: #0e6a1e;
    border-radius: 5px;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
  }
  
  section {
    margin-top: 100px;
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  section p {
    margin-bottom: 10px;
  }
  
  #about {
    background-color: #042f69; /* Change the background color to blue */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  a {
    color: #fff; /* Change the color value to your desired color */
  }
  
  /* Footer Styles */
  footer {
    margin-top: 100px;
    background-color: #042f69;
    color: #fff;
    padding: 1px;
    text-align: center;
  }