/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
  }
  
  .container {
    max-width: 100%;
    margin: 10px;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #042f69;
    color: #fff;
    padding: 20px;
    height: 10vh; /* Set the height to 100vh for full-screen */
    display: flex;
  }
  
  .logo {
    position: absolute;
    top: 2px;
    left: 5px;
  }
  
  .logo img {
    height: 100px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
  }
  
  /* Navigation Styles */
  nav {
    background-color: #042f69;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  nav ul li a:hover {
    background-color: #0e6a1e;
    border-radius: 5px;
  }
  
  main {
    padding: 20px;
  }

    /* Contact Section Styles */
    #contact {
        background-color:#042f69;
        color: #fff;
        padding: 20px;
        margin-left: 250px;
        margin-right: 250px;
        margin-top: 100px;
        margin-bottom: 20px;
        border-radius: 10px;
        
      }
      
      #contact h2 {
        font-size: 30px;
        margin: 0;
      }
      
      #contact p {
        margin-bottom: 10px;
      }
      
      a {
        color: rgb(255, 255, 255); /* Change the color value to your desired color */
      }
    
      /* Footer Styles */
      footer {
        background-color: #042f69;
        color: #fff;
        padding: 5px;
        text-align: center;
        margin-top: 60px;
      }
      
      /* Media Queries */
      @media (max-width: 768px) {
        header h1 {
          font-size: 24px;
        }
      
        header h2 {
          font-size: 18px;
        }
      }